In [1]:
#  Import dependencies and read the csv.
#!pip install pandas
import pandas as pd 
monsters_df = pd.read_csv("original_dataset\dnd_monsters.csv")
monsters_df.head()

,name,url,cr,type,size,ac,hp,speed,align,legendary,source,str,dex,con,int,wis,cha
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,1/4,humanoid (aarakocra),Medium,12,13,fly,neutral good,NaN,Monster Manual (BR),10.0,14.0,10.0,11.0,12.0,11.0
1,abjurer,NaN,9,humanoid (any race),Medium,12,84,NaN,any alignment,NaN,Volo's Guide to Monsters,NaN,NaN,NaN,NaN,NaN,NaN
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10,aberration,Large,17,135,swim,lawful evil,Legendary,Monster Manual (SRD),21.0,9.0,15.0,18.0,15.0,18.0
3,abominable-yeti,NaN,9,monstrosity,Huge,15,137,NaN,chaotic evil,NaN,Monster Manual,NaN,NaN,NaN,NaN,NaN,NaN
4,acererak,NaN,23,undead,Medium,21,285,NaN,neutral evil,NaN,Adventures (Tomb of Annihilation),NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Drop columns we don't need (align & source)
monsters_df = monsters_df.drop(columns=['align', 'source'])
monsters_df.head()

,name,url,cr,type,size,ac,hp,speed,legendary,str,dex,con,int,wis,cha
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,1/4,humanoid (aarakocra),Medium,12,13,fly,NaN,10.0,14.0,10.0,11.0,12.0,11.0
1,abjurer,NaN,9,humanoid (any race),Medium,12,84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10,aberration,Large,17,135,swim,Legendary,21.0,9.0,15.0,18.0,15.0,18.0
3,abominable-yeti,NaN,9,monstrosity,Huge,15,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,acererak,NaN,23,undead,Medium,21,285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Drop Nan rows ONLY from str
monsters_df = monsters_df.dropna(subset=['str'])
monsters_df.head()

,name,url,cr,type,size,ac,hp,speed,legendary,str,dex,con,int,wis,cha
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,1/4,humanoid (aarakocra),Medium,12,13,fly,NaN,10.0,14.0,10.0,11.0,12.0,11.0
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10,aberration,Large,17,135,swim,Legendary,21.0,9.0,15.0,18.0,15.0,18.0
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,1/4,humanoid (any race),Medium,10,9,NaN,NaN,10.0,10.0,10.0,10.0,14.0,11.0
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14,dragon,Huge,19,195,"fly, swim",Legendary,23.0,14.0,21.0,14.0,13.0,17.0
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16,dragon,Huge,19,225,fly,Legendary,25.0,10.0,23.0,16.0,15.0,19.0

In [4]:
#Check data types and changed any if needed
monsters_df.dtypes

name          object
url           object
cr            object
type          object
size          object
ac             int64
hp             int64
speed         object
legendary     object
str          float64
dex          float64
con          float64
int          float64
wis          float64
cha          float64
dtype: object

In [5]:
#CR column should be float but we need to conver fractions
#take from: https://stackoverflow.com/questions/69112191/convert-fractional-values-to-decimal-in-pandas
def convert(frac):
    if '/' in frac:
        num, den = frac.split('/')
        return (int(num)/int(den))
    else:
        return float(frac)

monsters_df['cr'] = monsters_df['cr'].apply(convert)
monsters_df.head()

,name,url,cr,type,size,ac,hp,speed,legendary,str,dex,con,int,wis,cha
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,0.25,humanoid (aarakocra),Medium,12,13,fly,NaN,10.0,14.0,10.0,11.0,12.0,11.0
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10.00,aberration,Large,17,135,swim,Legendary,21.0,9.0,15.0,18.0,15.0,18.0
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,0.25,humanoid (any race),Medium,10,9,NaN,NaN,10.0,10.0,10.0,10.0,14.0,11.0
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,dragon,Huge,19,195,"fly, swim",Legendary,23.0,14.0,21.0,14.0,13.0,17.0
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16.00,dragon,Huge,19,225,fly,Legendary,25.0,10.0,23.0,16.0,15.0,19.0

In [6]:
#Check dtypes and convert if needed
monsters_df.dtypes

name          object
url           object
cr           float64
type          object
size          object
ac             int64
hp             int64
speed         object
legendary     object
str          float64
dex          float64
con          float64
int          float64
wis          float64
cha          float64
dtype: object

In [7]:
#Split speed column on ','
monsters_df[['fly', 'swim']] = monsters_df['speed'].str.split(',', expand=True)
monsters_df = monsters_df.drop(columns='speed')

monsters_df.head(10)

,name,url,cr,type,size,ac,hp,legendary,str,dex,con,int,wis,cha,fly,swim
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,0.25,humanoid (aarakocra),Medium,12,13,NaN,10.0,14.0,10.0,11.0,12.0,11.0,fly,None
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10.00,aberration,Large,17,135,Legendary,21.0,9.0,15.0,18.0,15.0,18.0,swim,None
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,0.25,humanoid (any race),Medium,10,9,NaN,10.0,10.0,10.0,10.0,14.0,11.0,NaN,NaN
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,dragon,Huge,19,195,Legendary,23.0,14.0,21.0,14.0,13.0,17.0,fly,swim
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16.00,dragon,Huge,19,225,Legendary,25.0,10.0,23.0,16.0,15.0,19.0,fly,None
9,adult-brass-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,13.00,dragon,Huge,18,172,Legendary,23.0,10.0,21.0,14.0,13.0,17.0,fly,None
10,adult-bronze-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,15.00,dragon,Huge,19,212,Legendary,25.0,10.0,23.0,16.0,15.0,19.0,fly,swim
11,adult-copper-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,dragon,Huge,18,184,Legendary,23.0,12.0,21.0,18.0,15.0,17.0,fly,None
12,adult-gold-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,17.00,dragon,Huge,19,256,Legendary,27.0,14.0,25.0,16.0,15.0,24.0,fly,swim
13,adult-green-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,15.00,dragon,Huge,19,207,Legendary,23.0,12.0,21.0,18.0,15.0,17.0,fly,swim

In [8]:
#Replace NaN values
monsters_df[['fly', 'swim']] = monsters_df[['fly', 'swim']].fillna(0)
monsters_df.head()

,name,url,cr,type,size,ac,hp,legendary,str,dex,con,int,wis,cha,fly,swim
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,0.25,humanoid (aarakocra),Medium,12,13,NaN,10.0,14.0,10.0,11.0,12.0,11.0,fly,0
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10.00,aberration,Large,17,135,Legendary,21.0,9.0,15.0,18.0,15.0,18.0,swim,0
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,0.25,humanoid (any race),Medium,10,9,NaN,10.0,10.0,10.0,10.0,14.0,11.0,0,0
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,dragon,Huge,19,195,Legendary,23.0,14.0,21.0,14.0,13.0,17.0,fly,swim
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16.00,dragon,Huge,19,225,Legendary,25.0,10.0,23.0,16.0,15.0,19.0,fly,0

In [9]:
#Drop extra strings in fly+swim columns
monsters_df['fly'] = monsters_df['fly'].replace(['fly'], 'Yes')
monsters_df['fly'] = monsters_df['fly'].replace(['swim', 0], 'No')
monsters_df['swim'] = monsters_df['swim'].replace([' swim'], 'Yes')
monsters_df['swim'] = monsters_df['swim'].replace(['fly', 0], 'No')
monsters_df.head()

,name,url,cr,type,size,ac,hp,legendary,str,dex,con,int,wis,cha,fly,swim
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,0.25,humanoid (aarakocra),Medium,12,13,NaN,10.0,14.0,10.0,11.0,12.0,11.0,Yes,No
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10.00,aberration,Large,17,135,Legendary,21.0,9.0,15.0,18.0,15.0,18.0,No,No
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,0.25,humanoid (any race),Medium,10,9,NaN,10.0,10.0,10.0,10.0,14.0,11.0,No,No
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,dragon,Huge,19,195,Legendary,23.0,14.0,21.0,14.0,13.0,17.0,Yes,Yes
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16.00,dragon,Huge,19,225,Legendary,25.0,10.0,23.0,16.0,15.0,19.0,Yes,No

In [10]:
#Eliminate any () in type column to clean
import re
formula = r'\([^()]*\)'
def remove_parentheses(type):
    return re.sub(formula, '', type)
monsters_df['cleaned type'] = monsters_df['type'].apply(remove_parentheses)
monsters_df.sample(10)

,name,url,cr,type,size,ac,hp,legendary,str,dex,con,int,wis,cha,fly,swim,cleaned type
96,blue-dragon-wyrmling,https://www.aidedd.org/dnd/monstres.php?vo=blu...,3.00,dragon,Medium,17,52,NaN,17.0,10.0,15.0,12.0,11.0,15.0,Yes,No,dragon
570,shadow-demon,https://www.aidedd.org/dnd/monstres.php?vo=sha...,4.00,fiend (demon),Medium,13,66,NaN,1.0,17.0,12.0,14.0,13.0,14.0,Yes,No,fiend
316,gnoll,https://www.aidedd.org/dnd/monstres.php?vo=gnoll,0.50,humanoid (gnoll),Medium,15,22,NaN,14.0,12.0,11.0,6.0,10.0,7.0,No,No,humanoid
352,hawk,https://www.aidedd.org/dnd/monstres.php?vo=hawk,0.00,beast,Tiny,13,1,NaN,5.0,16.0,8.0,2.0,14.0,6.0,Yes,No,beast
323,goblin,https://www.aidedd.org/dnd/monstres.php?vo=goblin,0.25,humanoid (goblinoid),Small,15,7,NaN,8.0,14.0,10.0,10.0,8.0,8.0,No,No,humanoid
477,nilbog,https://www.aidedd.org/dnd/monstres.php?vo=nilbog,1.00,humanoid (goblinoid),Small,13,7,NaN,8.0,14.0,10.0,10.0,8.0,15.0,No,No,humanoid
743,young-green-dragon,https://www.aidedd.org/dnd/monstres.php?vo=you...,8.00,dragon,Large,18,136,NaN,19.0,12.0,17.0,16.0,13.0,15.0,Yes,Yes,dragon
614,steam-mephit,https://www.aidedd.org/dnd/monstres.php?vo=ste...,0.25,elemental,Small,10,21,NaN,5.0,11.0,10.0,11.0,10.0,12.0,Yes,No,elemental
217,efreeti,https://www.aidedd.org/dnd/monstres.php?vo=efr...,11.00,elemental,Large,17,200,NaN,22.0,12.0,24.0,16.0,15.0,16.0,Yes,No,elemental
60,axe-beak,https://www.aidedd.org/dnd/monstres.php?vo=axe...,0.25,beast,Large,11,19,NaN,14.0,12.0,12.0,2.0,10.0,5.0,No,No,beast

In [11]:
#Drop type column and rename cleaned_type
monsters_df = monsters_df.drop(columns=['type'])
monsters_df.rename(columns= {'cleaned type': 'type'}, inplace=True)
monsters_df.head()

,name,url,cr,size,ac,hp,legendary,str,dex,con,int,wis,cha,fly,swim,type
0,aarakocra,https://www.aidedd.org/dnd/monstres.php?vo=aar...,0.25,Medium,12,13,NaN,10.0,14.0,10.0,11.0,12.0,11.0,Yes,No,humanoid
2,aboleth,https://www.aidedd.org/dnd/monstres.php?vo=abo...,10.00,Large,17,135,Legendary,21.0,9.0,15.0,18.0,15.0,18.0,No,No,aberration
5,acolyte,https://www.aidedd.org/dnd/monstres.php?vo=aco...,0.25,Medium,10,9,NaN,10.0,10.0,10.0,10.0,14.0,11.0,No,No,humanoid
6,adult-black-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,14.00,Huge,19,195,Legendary,23.0,14.0,21.0,14.0,13.0,17.0,Yes,Yes,dragon
8,adult-blue-dragon,https://www.aidedd.org/dnd/monstres.php?vo=adu...,16.00,Huge,19,225,Legendary,25.0,10.0,23.0,16.0,15.0,19.0,Yes,No,dragon

In [12]:
#Remove and spaces from new column
#Modified from: https://stackoverflow.com/questions/49180379/python-remove-and-spaces-from-a-column
monsters_df.type = monsters_df.type.map(lambda x: x.replace(' ', ''))

In [13]:
#Unique values for html dropdown menu
a = monsters_df['type'].unique()
b = monsters_df['size'].unique()
print(sorted(a))
print(sorted(b))

['aberration', 'beast', 'celestial', 'construct', 'dragon', 'elemental', 'fey', 'fiend', 'giant', 'humanoid', 'monstrosity', 'ooze', 'plant', 'swarmofTinybeasts', 'undead']
['Gargantuan', 'Huge', 'Large', 'Medium', 'Small', 'Tiny']

In [14]:
#Stats for columns
stats = monsters_df[['ac', 'hp', 'str', 'dex', 'con', 'int', 'wis', 'cha']].describe()
print(stats)

               ac          hp         str         dex         con         int  \
count  401.000000  401.000000  401.000000  401.000000  401.000000  401.000000
mean    14.109726   81.463840   15.231920   12.745636   15.147132    8.324190
std      3.165111   98.069768    6.492964    3.183573    4.383012    5.694264
min      5.000000    1.000000    1.000000    1.000000    8.000000    1.000000
25%     12.000000   19.000000   11.000000   10.000000   12.000000    3.000000
50%     13.000000   45.000000   16.000000   13.000000   14.000000    8.000000
75%     17.000000  112.000000   19.000000   15.000000   17.000000   12.000000
max     25.000000  676.000000   30.000000   28.000000   30.000000   26.000000

              wis         cha
count  401.000000  401.000000
mean    11.820449   10.097257
std      3.093167    5.696755
min      2.000000    1.000000
25%     10.000000    6.000000
50%     12.000000    9.000000
75%     13.000000   14.000000
max     27.000000   30.000000

In [15]:
stats_df = monsters_df[['ac', 'hp', 'str', 'dex', 'con', 'int', 'wis', 'cha']]
stats_df

     ac   hp   str   dex   con   int   wis   cha
0    12   13  10.0  14.0  10.0  11.0  12.0  11.0
2    17  135  21.0   9.0  15.0  18.0  15.0  18.0
5    10    9  10.0  10.0  10.0  10.0  14.0  11.0
6    19  195  23.0  14.0  21.0  14.0  13.0  17.0
8    19  225  25.0  10.0  23.0  16.0  15.0  19.0
..   ..  ...   ...   ...   ...   ...   ...   ...
753  12   66  16.0  14.0  13.0  14.0  12.0  16.0
755  14   71  16.0  14.0  13.0  14.0  12.0  16.0
757  11   40  11.0  12.0  11.0  13.0  12.0  14.0
759  21  580  27.0  24.0  28.0  26.0  27.0  30.0
760   8   22  13.0   6.0  16.0   3.0   6.0   5.0

[401 rows x 8 columns]

In [16]:
# Creating statistics table

Ability = []
Min = []
Avg = []
Max = []

for column in stats_df:
    Ability.append(column)
    min_calc = stats_df[column].min()
    Min.append(min_calc)
    avg_calc = stats_df[column].mean()
    Avg.append(avg_calc)
    max_calc = stats_df[column].max()
    Max.append(max_calc)

ability_statistics_df = pd.DataFrame()
ability_statistics_df['Ability'] = Ability
ability_statistics_df['Min'] = Min
ability_statistics_df['Avg'] = Avg
ability_statistics_df['Max'] = Max

ability_statistics_df.head(8)

  Ability  Min        Avg    Max
0      ac  5.0  14.109726   25.0
1      hp  1.0  81.463840  676.0
2     str  1.0  15.231920   30.0
3     dex  1.0  12.745636   28.0
4     con  8.0  15.147132   30.0
5     int  1.0   8.324190   26.0
6     wis  2.0  11.820449   27.0
7     cha  1.0  10.097257   30.0

In [17]:
# Rounding Avg to whole int
ability_statistics_df['Avg'] = ability_statistics_df['Avg'].round(0)
ability_statistics_df.head(8)

  Ability  Min   Avg    Max
0      ac  5.0  14.0   25.0
1      hp  1.0  81.0  676.0
2     str  1.0  15.0   30.0
3     dex  1.0  13.0   28.0
4     con  8.0  15.0   30.0
5     int  1.0   8.0   26.0
6     wis  2.0  12.0   27.0
7     cha  1.0  10.0   30.0

In [18]:
# Adding challenge rating conversion to xp that will be used for XP Linear Regression
cr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
xp = [200, 450, 700, 1100, 1800, 2300, 2900, 3900, 5000, 5900, 7200, 8400, 10000, 11500, 13000, 15000]

cr_to_xp_df = pd.DataFrame()
cr_to_xp_df['cr'] = cr
cr_to_xp_df['xp'] = xp

cr_to_xp_df.head(12)

    cr    xp
0    1   200
1    2   450
2    3   700
3    4  1100
4    5  1800
5    6  2300
6    7  2900
7    8  3900
8    9  5000
9   10  5900
10  11  7200
11  12  8400

In [19]:
# Export DataFrames
monsters_df.to_csv("cleaned_dnd_monsters.csv", encoding='utf-8', index=False)
stats_df.to_csv("cleaned_stats.csv", encoding='utf-8', index=False)
ability_statistics_df.to_csv("ability_statistics.csv", encoding='utf-8', index=False)
cr_to_xp_df.to_csv("cr_to_xp.csv", encoding='utf-8', index=False)